{% extends 'base.html.twig' %}
{% block title %}Consultation!{% endblock %}
    {% block body %}
        {{ dump(content) }}
        <div class="row">
            <a href="{{ path('pv') }}"> Retour</a>
        </div>
    {% endblock %}
